pipeline/Databricks.json
{
	"name": "Databricks",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Test Notebook"
				},
				"linkedServiceName": {
					"referenceName": "Databricks_Ketan_003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"description": "@activity('Notebook1').output.runOutput",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"annotations": []
	}
}